{% extends "layouts/main.html" %}

{% set pageName="Page 2" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ pageName }}
    </h1>

<p class=govuk-body><a class="govuk-link" href="page-3?something=3">Page 3</a></p>


<p class="govuk-body">This is page {{data.something}}</p>

{% for i in data.LotsOfData %}
{{i.test}}<br><br>
{% endfor %}
{% for i in data.LotsOfData %}
{{i.test}}<br><br>
{% endfor %}
{% for i in data.LotsOfData %}
{{i.test}}<br><br>
{% endfor %}
{% for i in data.LotsOfData %}
{{i.test}}<br><br>
{% endfor %}



  </div>
</div>

{% endblock %}
