{% extends "layouts/main.html" %}

{% set pageName="Page 1" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ pageName }}
    </h1>

<p class=govuk-body><a class="govuk-link" href="page-2?something=2">Page 2</a></p>

<p class="govuk-body">This is page {{data.something}}</p>

<p class="govuk-body">Event Name = {{data.eventName}}</p>

 <form action="/form-handler" method="post" novalidate>

{{ govukRadios({
  name: "pageNumber",
  fieldset: {
    legend: {
      text: "Choose the page number?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "0",
      text: "Index"
    },
    {
      value: "1",
      text: "Page 1"
    },
    {
      value: "2",
      text: "Page 2"
    },
    {
      value: "3",
      text: "Page 3"
    }
  ]
}) }}

{{ govukButton({
          text: "Continue"
        }) }}

</form>

  </div>
</div>

{% endblock %}
